<!-- SIDE PANEL NAVBAR -->
<div class="spanel spanel--left bg-dark pt-1 text-center border border-secondary">
	<div class="py-1 nav-icon">
		<img [routerLink]="['/home']" src="assets/images/home_icon_white.png" class="sidebar-icon" title="Home">
	</div>
	<div class="py-1 nav-icon">
		<img [routerLink]="['/account']" src="assets/images/user_icon_white.png" class="sidebar-icon" title="Home">
	</div>
	<div class="py-1 nav-icon">
		<img [routerLink]="['/calendar']" src="assets/images/calendar_white.png" class="sidebar-icon" title="Home">
	</div>
</div>

<!-- MAIN PANEL -->
<div class="mpanel">
	<router-outlet></router-outlet>
</div>

