I<form action="/login" method="POST">
	<table>
		<tr>
			<td class="text-right text-nowrap font-weight-bold">Username:</td>
			<td class="text-left text-nowrap">
				<input name="username" id="username" type="text" placeholder="Enter username">
			</td>
		</tr>
		<tr>
			<td class="text-right text-nowrap font-weight-bold">Password:</td>
			<td class="text-left text-nowrap">
				<input name="password" id="password" type="password" placeholder="Enter password">
			</td>
		</tr>
		<tr>
			<td class="text-right" colspan="2"><input type="submit"></td>
		</tr>
	</table>
</form>
